flask==3.0.0
flask-login==0.6.3
flask-sqlalchemy==3.1.1
flask-babel==4.0.0
flask-wtf==1.2.1
flask-socketio==5.6.1
qrcode==7.4.2
python-barcode==0.15.1
Pillow==10.1.0
openpyxl==3.1.5
python-docx==1.2.0
gunicorn==21.2.0
